@model IEnumerable<WebApplication1.Models.DoctorEntities.DoctorVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Додати Доктора</a>
</p>

@if (!Model.Any())
{
    <h1 style="text-align:center">Пусто</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Doctor" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Delete" asp-controller="Doctor" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
